<div class="div_form">
    <form class="form_estilo" action="" method="post"> {% csrf_token %}
        <div>
            <label class="label_form" for="nombre">Nombre de la etiqueta</label>
            <input class="input" type="text" value="{{ nombre }}" name ="nombre">

            <label class="label_form" for="oculta">Ocultar</label>
            <input type="checkbox" name="oculta" value="False" checked hidden>
            {% if oculta %}
                <input type="checkbox" name="oculta" value="True" checked>
            {% else %}
                <input type="checkbox" name="oculta" value="True">
            {% endif %}
        </div>
        <div>
            <button class="link" type="submit">Guardar</button>
            <button class="link"><a href="{% url 'etiquetas' 0 %}">Volver</a></button>
        </div>
    </form>
    {{ mensaje }}
</div>